@import "../../index.css";

.sideFilterWrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: sticky;
    top: 0px;
    padding-left: 20px;
}


.showHideButton{
    height: 45px;
    width: 45px;
    border-radius: 10px;
    padding: 4px;
    background: #00B9B9;
    z-index: 1;
    right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;

    &:hover{
        background: var(--navbarBtnHoverColour);
        transform: translateY(0px);
    }
}

.sideFilterIcon{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin: auto;
    min-width: 12rem;
    color: slategray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sideFilterFrame{
    height: 55rem;
    min-width: 15rem;
    padding-left: 0px;
    padding: 2rem;
    display: grid;
    grid-auto-flow: row;
    gap: 2rem;
    /* box-shadow: 0px 1px 10px #888888; */
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    overscroll-behavior-inline: contain;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    .filterOptions{
        height: 20rem;
        padding: 1rem;
        border-top: 10px solid #E5E5E5;
        font-size: 18px;
        font-weight: bold;
        padding-top: 0.5rem;
        color: slategray;
        text-align: start;
    }
}

    /* CUSTOME SCROOL BAR */
.sideFilterFrame::-webkit-scrollbar {
    height: 1rem;
}

.sideFilterFrame::-webkit-scrollbar-track {
    background: #EEEEEE;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sideFilterFrame::-webkit-scrollbar-thumb {
    background-color: slategray;
    border-radius: 10px;
}

.sideFilterFrame::-webkit-scrollbar-thumb:hover {
    background: hsl(120 100% 10% / 1);
}


@media only screen and (max-width: 1000px) {
    .sideFilterFrame {
        display: none;
    }

    .sideFilterWrapper{
        display: none;
    }
}