
.CartPage{
    height: auto;
    width: auto;
    margin: auto;

    padding-top: 10rem;
    padding-bottom: 10rem;
    display: grid;
    gap: 10rem;
}

.cart{
    padding: 4rem;
    /* border: 1px solid rebeccapurple; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}