.footerSection{
    height: 30rem;
    width: 100%;
    background-color: #232F3E;
    background: linear-gradient(45deg, #232F3E, teal);
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;
    color: whitesmoke;
}


.footerLinksFrame{
    height: 18rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}
.footerLinks{
    padding: 10px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.678);
    text-decoration: none;

    &:hover{
        color: white;
    }
}

.footerLinksFrame .footerSettingLink {
    color: rgba(255, 255, 255, 0.678);
    text-decoration: none;

    &:hover{
        color: white;
    }
}

.middleSection{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border: 1px soild rgba(255, 255, 255, 0.678);
}


.footerLinksFrame box{
    width: 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(45deg, pink, aqua);

    transition: 0.5s ease;
    &:hover{
        transform: translateY(-10px);
    }
}



.bottomSection{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}