
.KidsPage{
    padding-top: 10rem;
    padding-bottom: 20rem;
}


.KidsPage h1{
    text-shadow: 2px 2px PeachPuff;
}

.wasssa{
    display: flex;
    height: 100px;
    width: 100px;
    background-color: aqua;
}


.kidTrendingCardsWrapper{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(0deg, MediumTurquoise, PeachPuff); */
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
}