
.KidsPage{
    padding-top: 10rem;
    padding-bottom: 20rem;
}


.KidsPage h1{
    text-shadow: 2px 2px PeachPuff;
}

.wasssa{
    display: flex;
    height: 100px;
    width: 100px;
    background-color: aqua;
}

.mySwiper{
    height: 500px;
    width: 90%;
    border: 1px solid rebeccapurple;
}
.swiper-button-next, .swiper-button-prev{ 
    border-radius: 10px;
    padding: 10px;
    background-color: teal;
    color: white;
    font-weight: bold;
    transition: 0.5s ease;
  
    &:hover{
        color: aquamarine;
        transform: translateY(-10px);
    }
  }

  .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background-color: white;
    border: 5px solid teal;
  }