
.MenPage{
    height: auto;
    width: auto;
    margin: auto;

    padding-top: 10rem;
    padding-bottom: 20rem;
}

.mensHeader{
    border-top: 1px solid rosybrown;
    border-bottom: 1px solid rosybrown;

    .focusedProduct{
        height: 50rem;
        width: 90%;
        margin: auto;
        display: flex;
        border-top: 1px solid rosybrown;
        border-bottom: 1px solid rosybrown;
    }
}

.MenPage h1{
    text-shadow: 2px 2px PaleTurquoise;
}


