
.navFrame{
    height: auto;
    width: auto;
    margin: auto;
    display: flex;
    padding: 10px;
    background: #F5F5F5;

    .siteLogo{
        height: 60px;
        width: 60px;
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        border: 1px solid red;
    }

    .Navlists{
        list-style-type: none;
        height: auto;
        width: 60%;
        margin: auto;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        border: 1px solid red;
    }

    .links{
        text-decoration: none;
        font-size: 20px;
        color: black;
    }.links:hover{
        color: royalblue;
    }

    .cartLink{
        height: 60px;
        width: 60px;
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        border: 1px solid rebeccapurple;
    }
}