
.NewArrivals{
    height: auto;
    width: auto;
    /* padding-top: 10rem;
    padding-bottom: 20rem;
    background-color: green; */
}

.NewArrivals body, html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    scroll-padding-top: 8rem;
}

.section{
    scroll-behavior: smooth;
    display: flex;
    height: 110vh;
    width: auto;
    scroll-snap-align: start;
    scroll-snap-stop: always;

    &:nth-child(1){
        background: rosybrown;
    }
    &:nth-child(2){
        background: rebeccapurple;
    }
    &:nth-child(3){
        background: red;
    }
    &:nth-child(4){
        background: blue;
    }
}


.brandselector{
    height: 100px;
    width: 300px;
}