
.NewArrivals{
    height: auto;
    width: auto;
    /* padding-top: 10rem;
    padding-bottom: 20rem;
    background-color: green; */
}

.NewArrivals body, html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    scroll-padding-top: 18rem;
}

.section{
    scroll-behavior: smooth;
    display: flex;
    height: 80vh;
    width: auto;
    scroll-snap-align: start;
    scroll-snap-stop: always;

    &:nth-child(1){
        background: rosybrown;
    }
    &:nth-child(2){
        background: rebeccapurple;
    }
    &:nth-child(3){
        background: red;
    }
    &:nth-child(4){
        background: blue;
    }
}



.grid{
    height: max-content;
    width: auto;
    background-color: royalblue;
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 1px solid rebeccapurple;
}

.grid .gridItems{
    height: auto;
    width: 100px;
    background-color: aliceblue;
    grid-row: span 2;
}