.productDisplayFrame{
    min-height: auto;
    width: auto;
    margin: auto;
    margin-top: 10rem;
    display: flex;
}
.ProductDisplay{
    height: auto;
    width: auto;
    padding: 4rem 0rem 4rem 0rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}




.productCard{
    height: 35rem;
    width: 25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #eeeeee;

    transition: 0.5s ease;
} .productCard:hover{
    box-shadow: 5px 10px 15px #888888;;
  }

.productCard img{
    height: 25rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    
    object-fit: contain;
    object-position: center;
}

.productCard .detailFrame{
    height: auto;
    width: auto;
    padding: 10px 10px 0px 10px;
    
    display: flex;
    flex-direction: row;
}

.productCard .detailFrame .productDetail{
    height: 3rem;
    width: 100%;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.productCard .detailFrame .productDetail .productPrice{
   font-weight: bold;
}


.productCard .addToBag{
    height: 4rem;
    width: 90%;
    background-color: none;
    background: black;
    color: white;
    margin: auto;
    transition: 0.5s ease;
}.productCard .addToBag:hover{
    background-color: slategray;
}