
.swiper-button-next, .swiper-button-prev{ 
  height: 60px;
  width: 60px;
    border-radius: 50%;
    padding: 10px;
    background-color: #00B9B9;
    color: white;
    transition: 0.5s ease;
  
    &:hover{
      background-color: teal;
      transform: translateY(-10px);
    }
  }

  .swiper-pagination-bullet{
    width: 8px;
    height: 8px;
    background-color: white;
    border: 8px solid teal;
    transition: 0.5s ease;
    &:hover{
      transform: translateY(-10px);
    }
  }