
.WomensPage{
    height: auto;
    width: auto;
    margin: auto;

    padding-top: 10rem;
    padding-bottom: 20rem;
}

.WomensPage h1{
    text-shadow: 2px 2px pink;
}

.womenTrendingCardsWrapper{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, MediumTurquoise, pink);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}