.salesPage{
    padding-bottom: 20rem;
}

.salesProductsHeader h1{
    color: white;
    text-shadow: 4px 4px #FB8585;
}
.salesProductsHeader h2{
    color: white;
}
.salesProductsHeader {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: linear-gradient(65deg, #00B9B9, hwb(161 17% 6% / 0.5));
}