

.windowFrame{
  height: 300px;
  width: 300px;
  background-color: royalblue;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  box-shadow: 0px 4px 8px rgb(22, 22, 22);
  transition: all 0.8s ease;
  cursor: pointer;
  overflow: hidden;

  .windowDoorL{
      height: 300px;
      width: 150px;
      background: #4f758b;
      display: flex;
      margin: auto;
      position: absolute;
      z-index: 1;
      left: 0;
      transition: all 0.8s ease;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
  }
  .windowDoorR{
      height: 300px;
      width: 150px;
      background: #4f758b;
      display: flex;
      margin: auto;
      position: absolute;
      z-index: 1;
      right: 0;
      transition: all 0.8s ease;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
  }
}


.windowFrame:hover .windowDoorL{
  transform: translate(-150px, 0rem);
}
.windowFrame:hover .windowDoorR{
  transform: translate(150px, 0rem);
}





.cameraLenseFrame{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  background: #41667c;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 4px 8px rgb(22, 22, 22);
  transition: all 0.8s ease;
  cursor: pointer;
  overflow: hidden;

  .coverTL{
      height: 150px;
      width: 150px;
      background-color: aqua;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.8s ease;
  }

  .coverTR{
      height: 150px;
      width: 150px;
      background-color: teal;
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.8s ease;
  }

  .coverBL{
      height: 150px;
      width: 150px;
      background-color: aquamarine;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all 0.8s ease;
  }

  .coverBR{
      height: 150px;
      width: 150px;
      background-color: turquoise;
      position: absolute;
      bottom: 0;
      right: 0;
      transition: all 0.8s ease;
  }
}
.cameraLenseFrame:hover{
  box-shadow: none;
}

.cameraLenseFrame:hover .coverTL{
  transform: translate(0px, -150px);
}

.cameraLenseFrame:hover .coverTR{
  transform: translate(150px, 0px);
}

.cameraLenseFrame:hover .coverBL{
  transform: translate(-150px, 0px);
}

.cameraLenseFrame:hover .coverBR{
  transform: translate(0px, 150px);
}

